{% load static %}
<!DOCTYPE html>
<html lang="tr">
    <head id="head">
        <title>Çalışma Alanı - Çalışma Alanlarının Verimliliği için Akıllı İzleme Sistemi</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/img" href="{% static 'images/eye.png' %}">
        <link rel="stylesheet" href="{% static 'css/workplace_detail.css' %}" type="text/css">
    </head>
    <body id="body">
        <h2>{{ workplace.name }}</h2>
        <p>{{ workplace.affiliation }}</p>
    </body>
</html>